/* Google Now CSS/LESS file
 * CSS only, optimized for mobile devices for an superior UX
 * using the checkbox-hack and BEM naming convention
 */

 // Variables 
// 
@shadow: rgba(0,0,0,0.15);
@gray: #e5e5e5;
@link-used: #55008e;

@anim-time: 0.4s;
@suggestion-delay: @anim-time + 0.05;

// Mixins 
// 
.transition ( @trans-time: 1s; @trans-to: all; @rans-effect: ease-in-out) {
 -webkit-transition: @arguments;  
    -moz-transition: @arguments;
     -ms-transition: @arguments;
      -o-transition: @arguments;
         transition: @arguments;
}

// .webfont (@fontname) {
//   font-family: '@{fontname}';
//   src:url('font/@{fontname}.otf');
//   src:url('font/@{fontname}.eot?#iefix') format('embedded-opentype'),
//       url('font/@{fontname}.woff') format('woff'),
//       url('font/@{fontname}.ttf') format('truetype');
//   font-weight: normal;
//   font-style:  normal;
// }

.webfont (@fontname) {
  font-family: '@{fontname}';
  src:url('font/@{fontname}.ttf') format('truetype');
  font-weight: normal;
  font-style:  normal;
}

// Webfonts & Icons
// 
@font-face{
	.webfont(google-now);
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

//

[class^="icon--"],
[class*=" icon--"] {
  font-family: "google-now", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

/* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

[class^="icon--"]:before,
[class*=" icon--"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

.icon--google:before {
	content: 'c';
	font-size: 13rem;
	line-height: 0;
	position: relative;
	top: 10rem;
	display: block;
	margin: 0 auto;
	width: 80px;
	color: white;
	text-shadow: 0 2px 3px @shadow;
}

.icon--link {
	content: '2';
}

// Less to compile

// Helper Classes
// 
* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	background: @gray;
	padding: 0 1rem;
	box-sizing: border-box;
	height: 100%;
	font-family: "Roboto";
	font-size: 16px;
}

header {
	height: 180px;
	width: 100%;
	background: url('img/header-background.gif') center center no-repeat;
	background-size: cover;
	display: block;
	z-index: -1;
	top: 0;
	left: 0;
	position: absolute;
	.transition(@anim-time @suggestion-delay);
}

.header__logo {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	height: 7rem;
	left: 0;
}

.header__search-field {
	width: 100%;
	position: relative;
	outline: 0;
	z-index: 2;
	border-radius: 3px;
	box-shadow: 0 2px 3px 0 @shadow;
	-webkit-appearance: none;
	border: 0;
	margin: 125px 0 20px;
	box-sizing: border-box;
	padding: 20px 10px;
	height: 30px;
	.transition(@anim-time @suggestion-delay);

	&:focus, &:focus ~ * {
		-webkit-transform: translateY(-6.5rem);
		.transition(@anim-time);

		& + .cards-ui .cards-ui__card {
			.transition( @anim-time @suggestion-delay);
		}

		& + .cards-ui {
			-webkit-transform: translateY(-19rem);
			.transition(@anim-time @suggestion-delay);
		}

		& + .cards-ui .cards-ui__card{
			-webkit-transform: translateY(13rem);
			.transition(@anim-time @suggestion-delay)
		}

		& + header {
			opacity: 0;
			-webkit-transform: translateY(-11.5rem);
			.transition(@anim-time);
		}

		& + .card--suggestions {
			opacity: 1 !important;
			.transition(@anim-time @suggestion-delay);
		}
	}
}

// CARDS-UI
// 

.cards-ui {
	-webkit-transform: translateY(-13rem);
	.transition(@anim-time @suggestion-delay);
}

// CARDS
// 
.card {
	width: 100%;
	height: auto;
	-webkit-transform: translateY(-26rem);
	position: relative;
	margin-bottom: 20px;
	background: white;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	.transition(@anim-time @suggestion-delay);
}

.cards-ui__card {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 20px;
	background: white;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	.transition(@anim-time @suggestion-delay);
}

.card--suggestions {
	min-height: 3rem;
	-webkit-transform: translateY(-17rem);
	padding: 0.5rem 1rem;
	z-index: 1;
	.transition(@anim-time);
	opacity: 0;
}

// CARD SUGGESTIONS
// 
.card--suggestions__link {
	text-decoration: none;
	display: block;
	padding: 0.75rem;
	position: relative;
	color: @link-used;
	font-weight: 700;
	border-bottom: 1px solid @gray;

	&:last-of-type {
		border-bottom: 0;
	}

	&:after {
		content: '2';
		font-family: "google-now", sans-serif;
		font-size: 4rem;
		position: absolute;
		font-weight: 100;
		color: @gray;
		right: -30px;
		top: 7px;
	}
}

//  ANIMATIONS
// 